.container {
  .title {
    background-color: coral;
    padding: 5px 10px;
    text-align: center;
    margin-top: 30px;
    color: white;
    text-transform: capitalize;
  }

  .content {
    display: flex;
    gap: 50px;
  }
}